[Desktop Entry]
Type=Application
Name=UUU Flash Tool
Comment=NXP i.MX firmware flashing tool
Exec=UUUFlashTool
Icon=UUUFlashTool
Categories=Development;Utility;
Terminal=false
